/*Simple barra de navegacion*/

.navbar{
    padding: 1em;
    margin-bottom: .5em;
}
.navbar-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-toggle{
    border: none;
    padding: .5em;
    font-size: 1.2em;
}

.navbar-menu{
    display: none;
}
.on{
    display: block;
}

.navbar-menu li{
    margin-bottom: .3em;
    border-bottom: solid 1px var(--cadena);
}


@media (min-width: 700px) {

    .navbar-toggle{
        display: none;
    }
    .navbar{
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-menu{
        display: flex;
    }
    .navbar-menu li{
        border: none;
    }
    .navbar-menu li a{
        margin-right: 1em;
    }
}



.off{
    display: none;
}